<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="7c968a92-982e-4438-ada9-64a2221d8f7f"
            Publisher="CN=snake"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>win app test</DisplayName>
    <PublisherDisplayName>snake</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="win_app_test.App">
        <VisualElements
            DisplayName="win app test"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="win app test"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>